.account-container {
    background-image: url('../images/wp10889357-engineer-minimalist-wallpapers.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem 0;
}

.account-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    opacity: 0.9;
}
